<!doctype html>
<html>
  <head>
    <title>ThePixelMonsterzApp</title>
  </head>
  <body>
    <div style="margin:50px;">
      <h2>Hello! My name is {{ name }}.</h2>
      <p/>
      <strong><em>I have been seen {{ hits }} times.</em></strong>
      <p/>
      <img src="monster/{{ name_hash }}" style="width:80px;height:80px;margin:20px;"/>
      <p/>
      <strong><em>Also, please meet my random friend, {{ friend_hash_short }}, who wants to talk to you!</em></strong>
      <p/>
      <img src="monster/{{ friend_hash }}?no_cache=1" style="width:80px;height:80px;margin:20px;"/>
    </div>
  </body>
</html>
